<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.maven.learning.JenkinsLearn.test.TestLog4j"/>
      <class name="com.maven.learning.JenkinsLearn.test.TestUpload"/>
    </classes>
  <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
  </listeners>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
